@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100;300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 2', sans-serif;
}
.tema {
  position: absolute;
  right: 15px;
  margin: 20px;
  font-size: 30px;
  cursor: pointer;
}
.divtema {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c2f68c7;
  z-index: 8;
}

.contenidoTema::-webkit-scrollbar {
  width: 10px;
}

.contenidoTema::-webkit-scrollbar-track {
  border-radius: 7px;
  background: #333;
}

.contenidoTema::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 20px;
}

.contenidoTema {
  width: 60%;
  height: 70%;
  border-radius: .5em;
  background-color: #333;
  overflow-y: scroll;
  z-index: 10;
}

.contenidoTema h2 {
  font-family: 'Indie Flower', cursive;
  color: #fff;
  font-weight: 400;
}

.contenidoTema div {
  line-height: 1.8;
  margin: 3.5em;
}

.contenidoTema span {
  text-decoration: rgb(140, 68, 255) wavy underline;
}

.equis {
  position: absolute;
  margin: 15px;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}

img {
  position: relative;
  width: 15em;
}