@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100;300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 2', sans-serif; 
  color: #ddf;
}
body{ background-color: #459; }
.contenedor{
  width: 100%;
  height: 100vh;
}
.salida, .zona-arrastre, .contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenido{
  width: 20%;
  margin: 20px;
  text-align: center;
  justify-content: center; 
}
.zona-arrastre{
  width: 80%;
  height: 8em;
  flex-direction: column;
  border: 4px dashed #baabfd;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 17px;
  background-color: #bbf5;
  box-shadow: #3333 10px 10px 15px;
  transition: border .6s, box-shadow .7s;
}
.zona-arrastre ion-icon{
  z-index: -2;
}
.archivos{
  text-align: center;
  width: 83%;
  height: 32rem;
}
.info{
  position: absolute;
  right: 15px;
  margin: 20px;
  padding: 7px;
  font-size: 25px;
  background-color: #aaf5;
  border-radius: 50%;
  cursor: pointer;
}
h3{ margin-top: 35px; }
.ar{
  width: 100%;
  height: 86%;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 1em;
  background-color: #444;
  box-shadow: #0003 10px 10px 15px;
  transition: box-shadow .7s;
}
.zona-arrastre:hover, .ar:hover{ box-shadow: #0003 -10px -10px 15px; }
.salida{
  width: 75%;
  height: 80%;
  position: relative;
  border: #ddf4 3px solid;
  background-color: #ddf3;
  border-radius: 15px;
  transition: border .6s;
  overflow: hidden;
  z-index: -3;
}
.salida p,.salida video,.salida img{
  position: absolute;
  width: 100%;
  height: auto;
  object-position: center;
  object-fit: scale-down;

}
.loader{
  position: absolute;
  background:transparent;
  width: 300px; 
  height: 300px;
  opacity: 0;
}
.ar p{
  cursor: pointer;
  margin: 5px;  
  padding: 5px;
  background-color: #fff2;
  border-radius: 5px;
  transition: background-color .6s;
}
.ar p:hover{ background-color: #fff4; }

