@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100;300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 2', sans-serif;
}
.info {
  position: fixed;
  right: 2em;
  margin: 15px;
  font-size: 40px;
  cursor: pointer;
}
.masInfo{
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0008;
  z-index: 8;
}
.contenidoMasInfo::-webkit-scrollbar {
  width: 10px;
}
.contenidoMasInfo::-webkit-scrollbar-track {
  border-radius: 7px;
  background: #333;
}
.contenidoMasInfo::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 20px;
}
.contenidoMasInfo{
  width: 60%;
  height: 70%;
  border-radius: .5em;
  background-color: #333;
  overflow-y: scroll;
  z-index: 10;
}
.contenidoMasInfo h2{
  font-family: 'Indie Flower', cursive;
  color: #fff;
  font-weight: 400;
}
.contenidoMasInfo div{
  line-height: 1.8;
  margin: 3.5em;
}
.contenidoMasInfo span {
  text-decoration: rgb(140, 68, 255) wavy underline;
}
.equis{
  position: absolute;
  margin: 15px;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}
.github{
  margin: 20px;
  color: #fff;
  font-size: 4em;
}
img{
  position: relative;
  width: 15em;
}