@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100;300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 2', sans-serif;
}
.tema {
  position: absolute;
  right: 15px;
  margin: 20px;
  font-size: 30px;
  cursor: pointer;
}
.divtema{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #0008;
  z-index: 8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.combinaciones{
  width: 94%;
  height: 7em;
  overflow-y: scroll;
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .4em;
  background-color: #444;
  border-radius: 8px;
  position: relative;
}

.circulos{
  width: 12em;
  padding: 10px; 
  margin: 10px;
  position: relative;
  background-color: #555;
  border-radius: 10px;
  transition: background .6s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .4em;
}
.circulos div{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.circulos p{
  display: block;
  font-size: 15px;
}
.circulos div{
  display: flex;
  gap: .4em;
}
.c{
  width: 1.3em;
  height: 1.3em;
  border: 1px solid #000;
  box-shadow: 2px 2px 0px #333;
  border-radius: 50%;
  background-color: #fff;
}
.color{
  outline: none;
  border: none;
  background-color: transparent;
  width: 4em;
  height: 3em;
  border-radius: 8px;
}
.bkc{
  display: flex;
  gap: 1em;
}
.contenidoTema {
  width: 65%;
  height: 80%;
  position: relative;
  border-radius: .5em;
  background-color: #333;
  overflow-y: scroll;
  z-index: 10;
}
.contTema{
  line-height: 1.8;
  margin: 3.5em;
}
#equis {
  position: fixed;
  margin: 15px;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}
.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.parent img{
  width: 10em;
  height: 8em;
  padding: 1em;
  object-fit: contain;
}
.parent div {
  padding: .7em;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #444;
}
.contenidoTema::-webkit-scrollbar, .combinaciones::-webkit-scrollbar{
  width: 10px;
}
.contenidoTema::-webkit-scrollbar-track,
.combinaciones::-webkit-scrollbar-track {
  border-radius: 7px;
  background: #333;
}
.contenidoTema::-webkit-scrollbar-thumb,
.combinaciones::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 20px;
}
#eliminar{
  flex-direction: row;
  position: absolute;
  right: 5px;
  font-size: 15px;
  background-color: transparent;
  top: 3px;
  border: none;
  border-radius: 50%;
  padding: 2px 7px 2px 7px;
  transition: background .6s;
  cursor: pointer;
  z-index: 100;
}
#eliminar:hover{
  background-color: #666;
}
.crearNombreTema{
  background-color: #444;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.crearNombreTema input{
  background-color: transparent;
  outline: none;
  text-align: center;
  height: 2.5em;
  border: none;
  margin: 20px;
  border-bottom: #fff 3px solid;
}
.crearNombreTema button{
  background-color: #68bbeb;
  outline: none;
  border-radius: 8px;
  width: 6rem;
  height: 3em;
  border: none;
  color: #000;
  transition: box-shadow .6s;
}
.crearNombreTema button:hover{
  box-shadow: #5fabd6 0px 0px 10px;
}