@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100;300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 2', sans-serif;
}
.tema {
  position: absolute;
  right: 15px;
  margin: 20px;
  font-size: 30px;
  cursor: pointer;
}
.divtema{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #1c2f68c7;
  z-index: 8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.combinaciones{
  width: 94%;
  height: auto;
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .4em;
  background-color: #444;
  border-radius: 8px;
  position: relative;
}
.temasP{
  font-size: 30px;
}
.circulos{
  width: 12em;
  padding: 10px; 
  margin: 10px;
  position: relative;
  background-color: #555;
  border-radius: 10px;
  cursor: pointer;
  transition: background .6s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .4em;
}

.circulos p{
  display: block;
  font-size: 15px;
}
.circulos div{
  display: flex;
  gap: .4em;
}
.c{
  width: 1.5em;
  height:   1.5em;
  border-radius: 50%;
  background-color: #fff;
}
.color{
  outline: none;
  border: none;
  background-color: transparent;
  width: 4em;
  height: 3em;
  border-radius: 8px;
}
.bkc{
  display: flex;
  gap: 1em;
}
.contenidoTema {
  width: 60%;
  height: 70%;
  position: relative;
  border-radius: .5em;
  background-color: #333;
  overflow-y: scroll;
  z-index: 10;
}
.contTema{
  line-height: 1.8;
  margin: 3.5em;
}
#equis {
  position: absolute;
  margin: 15px;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}
.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.parent img{
  margin: .7em;
  object-fit: cover;
}
.parent div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenidoTema::-webkit-scrollbar {
  width: 10px;
}
.contenidoTema::-webkit-scrollbar-track {
  border-radius: 7px;
  background: #333;
}
.contenidoTema::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 20px;
}
#eliminar{
  flex-direction: row;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  border-radius: 50%;
  transition: background .6s;
  z-index: 10;
}
#eliminar:hover{
  background-color: #666;
}
.mensajes{
  background-color: #444;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
}
.mensajes input{
  background-color: transparent;
  outline: none;
  text-align: center;
  height: 2.5em;
  border: none;
  margin: 20px;
  border-bottom: #fff 3px solid;
}
.mensajes button{
  background-color: #68bbeb;
  outline: none;
  border-radius: 8px;
  width: 6rem;
  height: 3em;
  border: none;
  color: #000;
  transition: box-shadow .6s;
}
.mensajes button:hover{
  box-shadow: #5fabd6 0px 0px 10px;
}