@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100;300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 2', sans-serif;
}
.tema {
  position: absolute;
  right: 15px;
  margin: 20px;
  font-size: 30px;
  cursor: pointer;
}
.divtema{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #1c2f68c7;
  z-index: 8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.combinaciones{
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: .4em;
}
.circulos{
  height: 2em;
  width: 12em;
  padding: 10px;
  display: flex;
  gap: .4em;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  background-color: #444;
  cursor: pointer;
  transition: background .6s;
}
.circulos:hover{
  background-color: #555;
}
.c{
  width: 1.5em;
  height:   1.5em;
  border-radius: 50%;
  background-color: #fff;
}
.color{
  outline: none;
  border: none;
  background-color: transparent;
  width: 4em;
  height: 3em;
  border-radius: 8px;
}
.bkc{
  display: flex;
  gap: 1em;
}
.contenidoTema {
  width: 60%;
  height: 70%;
  border-radius: .5em;
  background-color: #333;
  overflow-y: scroll;
  z-index: 10;
}
.contTema{
  line-height: 1.8;
  margin: 3.5em;
}
#equis {
  position: absolute;
  margin: 15px;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}
.parent {
  display: grid;
  grid-template-areas:
      "div1 div2 div5"
      "div4 div3 div6";
}
.parent img{
  margin: .7em;
  object-fit: cover;
}
.parent div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenidoTema::-webkit-scrollbar {
  width: 10px;
}
.contenidoTema::-webkit-scrollbar-track {
  border-radius: 7px;
  background: #333;
}
.contenidoTema::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 20px;
}
#guardarCombinacion{
  background-color: #569ac1;
  border-radius: 8px;
  outline: none;
  border: none;
  color: #000;
  width: 15em;
  height: 3em;
}