@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100;300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 2', sans-serif; 
  color: #ddf;
}
body{ background-color: #459; }
.contenedor{
  width: 17%;
  margin: 20px;
  text-align: center;
  justify-content: center;
}
.salida, .zona-arrastre{
  display: flex;
  justify-content: center;
  align-items: center;
}
.zona-arrastre{
  width: 94%;
  height: 120px;
  border: 4px dashed #baabfd;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 17px;
  background-color: #bbf5;
  box-shadow: #0003 10px 10px 15px;
  transition: border .6s, box-shadow .7s;
}
h3{ margin-top: 35px; }
.contenido{
  width: 250px;
  height: 32rem;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 1em;
  background-color: #444;
  box-shadow: #0003 10px 10px 15px;
  transition: box-shadow .7s;
}
.zona-arrastre:hover, .contenido:hover{ box-shadow: #0003 -10px -10px 15px; }
.salida{
  position: absolute;
  width: 79%;
  height: 94%;
  margin: 22px;
  border: #ddf4 3px solid;
  background-color: #ddf3;
  border-radius: 15px;
  top: 0px;
  right: 0px;
  transition: border .6s;
  overflow: hidden;
  z-index: -3;
}
.txtData, img, video{
  width: 100%;
  height: auto;
  position: absolute;
}
img{
  object-position: center;
  object-fit: scale-down;
  opacity: 1;
}
video{
  object-position: center;
  object-fit: scale-down;
  opacity: 1;
}
.loader{
  position: absolute;
  background:transparent;
  width: 300px; 
  height: 300px;
  opacity: 0;
}
.salida p {
  position: absolute;
}
.contenido p{
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  background-color: #fff2;
  border-radius: 5px;
  transition: background-color .6s;
}
.contenido p:hover{ background-color: #fff4; }

